body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #41807C;
    text-decoration: none;
}

a:hover {
    color: #41807C;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jost", sans-serif;
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f3f5fa;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #41807C;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #41807C;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio #portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: #41807C;
    color: #fff;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
    transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all 0.3s;
    background: #41807C;
    padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
    color: #f9fcfe;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #fff;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #41807C;
}

.portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #41807C;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #41807C;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}


/* navbar */
/* .u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/fgg-min.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 118px 379px 0 83px;
  }
  
  .u-section-1 .u-text-2 {
    line-height: 2;
    font-style: italic;
    font-size: 1.125rem;
    font-weight: 300;
    margin: 20px 489px 0 83px;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 33px auto 0 83px;
    padding: 19px 47px 20px;
  }
  
  .u-section-1 .u-text-3 {
    line-height: 2;
    font-style: italic;
    font-size: 1.125rem;
    font-weight: 300;
    margin: 41px 489px 60px 83px;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
    font-style: italic;
    border-style: none none solid;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 690px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-top: 60px;
      margin-right: 214px;
      margin-left: 48px;
      animation-duration: 1000ms;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-right: 324px;
      margin-left: 48px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-left: 48px;
    }
  
    .u-section-1 .u-text-3 {
      width: auto;
      margin-right: 324px;
      margin-left: 48px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      background-position: 81.64% 50%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 718px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 70px;
      margin-right: 42px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 152px;
      margin-left: 0;
    }
  
    .u-section-1 .u-btn-1 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 152px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      background-position: 87.54% 0%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 622px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.75rem;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 392px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
    }
  } */